/* Importar tipografia */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Selector universal */
*{
    margin: 0;
    padding: 0;
}
/* selector de etiqueta */
a{
    margin-left: 30px;
    color: orange;
}
/* selector por id */
#option_one,#option_two,#option_three {
    color: blue;
}
 /* selector por clases */
.group_option{
    background-color: aqua;
    margin: 5px;
 }
 .group_class{
    padding: 10px;
 }
 /* selector por pseudoclase */
 .group_option:hover{
    background-color: blueviolet;
    color: black;
 }
 /* selector por atributo */
 [disabled]{
    background-color: red;
 }
 /* selectores ascendentes */
 #papa{
    border: 2px solid #0026ff;
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 20px;
    box-shadow: 0px 20px 10px;
 }
 #papa > .hermanos + .hermanos{
    color: aqua;
 }
  /* selector descendentes */
  #papa a {
    color: blue;
  }
  /* selector hijo */
  #papa > #etiqueta > a{
    color: burlywood;
  }
/* TITULO PARA BOX MODEL */
#title_box{
   color:red;
   font-family: Arial, Helvetica, sans-serif;
   background-color: aqua;
   text-align:center;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
   margin: 20px 0;
   border: 1px dotted #000;
   border-radius: 10px;
   padding-bottom: 30px;
   
   box-shadow: 0px 0px 10px 1px #008000;
   box-shadow: 10px 10px 76px 1px #ccb522;

   -webkit-box-shadow: 10px 10px 76px 1px #ccb522;
   -moz-box-shadow: 10px 10px 76px 1px rgba(204,181,34,1);
   font-size: 40px;
   letter-spacing: 10px;
   word-spacing: 20px;
   text-transform: lowercase;
   
}
#box_father{
   width: 200px;
   height: 200px;
   background-color: #000;
   background-image: url(https://img.freepik.com/vector-premium/jugador-futbol-dibujos-animados-ninos-futbol-dibujos-animados_61878-1104.jpg?w=2000);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

/* #box_model{ */
   /* width: 50%; */
   /* height: 50%; */
   /* background-color: orange; */
   

/* media querys */
 @media (min-width: 800px) and (max-width: 1200px){
   body{
      background-color: red;
   }
   h1{
      text-align: center;
   }
 }
 @media (max-width: 799px){
 body{
   background-image: url(https://img.freepik.com/vector-premium/jugador-futbol-dibujos-animados-ninos-futbol-dibujos-animados_61878-1104.jpg?w=2000);
   background-size: cover;
   background-repeat: no-repeat;

 }
 }
